.about {
  background-image: url('../img/aboutUs-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 150px 0 90px 19%;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 5%
  }

  &__text {
    * {
      margin-bottom: 15px;
    }

    max-width: 620px;
  }

  &__img-wrapper {
    align-self: center;
    display: flex;
    position: relative;
    right: -0.5vw;

    img {
      max-width: 100%;
    }
  }

  &__img-1 {
    position: relative;
    top: -45px;
  }

  &__img-2 {
    position: relative;
    right: -20px;
    max-height: 452px;
  }
}

@media (max-width: 1040px) {
  .about {
    padding: 70px 0 90px 10%;

    &__img-wrapper {
      right: -0.5vw;
    }

    &__img-1 {
      top: -25px;
    }

    &__img-2 {
      right: -10px;
    }
  }
}

@media (max-width: 767px) {
  .about {
    padding: 70px 0 35px 5%;
    background-size: cover;

    &__row {
      display: flex;
      flex-direction: column;
    }

    &__text {
      * {
        margin-bottom: 10px;
      }

      padding-right: 5%;
      margin-bottom: 50px;
    }

    &__img-1 {
      top: -20px;
    }
  }
}