// Variables and common styles
@fontFamily: 'Montserrat', 'Roboto', sans-serif;
@fontOswald: 'Oswald', sans-serif;
@orangeColor: #ED421C;
@orangeHover: #CC2803;

// Fonts
@import "fonts.less";

// Reboot styles
@import "reboot.less";

// Preloader
@import "preloader.less";

// Scroll top
@import "scrollTop.less";

// Modal
@import "modal.less";

// UI
@import "ui.less";

// Header
@import "header.less";

// Header-burger
@import "header-burger.less";

// Poster
@import "poster.less";

// About us
@import "about.less";

// Banner
@import "banner.less";

// Benefits
@import "benefits.less";

// Promotion
@import "promotion.less";

// Team
@import "team.less";

// Reservation
@import "reservation.less";

// Offer
@import "offer.less";

// Counter
@import "counter.less";

// Menu
@import "menu.less";

// Reviews
@import "reviews.less";

// Gallery
@import "gallery.less";
@import "lightgallery.less";

// Map
@import "map.less";

// Contacts
@import "contacts.less";

// Footer
@import "footer.less";